@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/bg-img.png") center no-repeat;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: rgba(90, 186, 250, 0.568);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14%;
}
nav .logo i {
  font-size: 1.5rem;
  color: #fff;
}
nav .logo h1 {
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #fff;
}
nav .navigations {
  width: 33%;
}
nav .navigations ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1rem;
  color: #fff;
}
nav .navigations ul li {
  width: 104px;
  text-align: center;
}
nav .navigations ul li a {
  text-decoration: none;
  color: #e8e8e8;
  font-weight: 500;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
nav .navigations ul li a:hover {
  color: #fff;
  font-weight: 700;
}
nav .search {
  width: 40%;
}
nav .search form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
}
nav .search form input {
  outline: none;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 50px;
  color: rgb(20, 122, 153);
  font-size: 0.8rem;
}
nav .search form input::placeholder {
  color: rgb(20, 122, 153);
}
nav .search form svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 11.5rem;
}
nav .search form button {
  font-size: 0.8rem;
  border: none;
  outline: none;
  padding: 0.5rem 0.8rem;
  position: relative;
  right: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #fff;
  background: #25b1db;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
nav .search form button:hover {
  background: #147a99;
}

.homepage-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem;
}

aside .hr-line {
  width: 2px;
  height: 10rem;
  background: #fff;
  margin-bottom: 3rem;
}
aside .social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
aside .social-icons i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

aside .social-icons i:hover {
  color: #25b1db;
}
.details h1,
.about-us h1 {
  font-size: 4rem;
  width: 30rem;
  color: #fff;
  text-transform: uppercase;
}
.details p {
  font-size: 0.7rem;
  width: 15rem;
  color: #fff;
}
.details button {
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 0.7rem 1.1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #25b1db;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: 500;
}
.details button:hover {
  background-color: #147a99;
}

/* About us page */
.aboutus-details,
.contactus-details {
  gap: 3rem;
}
.about-us-details {
  background: linear-gradient(to right, #00000057, #00000057);
  margin: 2rem 5rem 2rem 0rem;
  border-radius: 10px;
  padding: 1rem 2rem;
}
.about-us-details p {
  padding-top: 1rem;
  color: #fff;
  font-size: 0.8rem;
}
.our-team {
  margin-top: 2rem;
  margin-right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
.our-team h1 {
  font-size: 2rem;
  color: #fff;
  width: 10rem;
}
.our-team .card {
  width: 15rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 10px;
  background: linear-gradient(to right, #00000057, #00000057);
  color: #fff;
}
.our-team .card .card-icon {
  background-color: #25b1db;
  padding: 5px 7px;
  border-radius: 6px;
}
.our-team .card .card-icon i {
  font-size: 15px;
}
.our-team .card .card-text h2 {
  margin-top: 15px;
  font-size: 1rem;
}
.our-team .card .card-text p {
  font-size: 0.8rem;
  margin-top: 10px;
}
.our-team .card .card-text h3 {
  width: 100%;
  text-align: center;
  background-color: #147a99;
  color: #fff;
  border: 1.5px solid #fff;
  border-radius: 8px;
  margin-top: 14px;
  padding: 6px 0;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Contact us Page */
.contact-us-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.contact-us-details h1 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
}
.contact-us-details .contact-us-text p {
  font-size: 0.8rem;
  margin-top: 4rem;
  color: #fff;
}
.contact-us-details .contact-us-form form {
  background-color: #0000005d;
  padding: 1.5rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 8px;
}
.contact-us-details .contact-us-form form label {
  display: block;
  padding-top: 10px;
  font-weight: 300;
}
.contact-us-details .contact-us-form form input,
.contact-us-details .contact-us-form form textarea {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  background: transparent;
  border: 1px solid #000;
  outline: none;
  color: #fff;
  font-weight: 300;
  border-radius: 2px;
}
.contact-us-details .contact-us-form form input::placeholder,
.contact-us-details .contact-us-form form textarea::placeholder {
  color: #ffffff6a;
  font-size: 0.8rem;
  font-weight: 100;
}
.contact-us-details .contact-us-form form textarea {
  height: 80px;
}
.contact-us-details .contact-us-form form .btn {
  margin-top: 16px;
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 1px solid #fff;
  font-size: 0.8rem;
  color: #fff;
  background-color: #25b1db;
  border-radius: 3px;
  cursor: pointer;
}
