@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/bg-img.png") center no-repeat;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: rgba(90, 186, 250, 0.568);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14%;
}
nav .logo i {
  font-size: 1.5rem;
  color: #fff;
}
nav .logo h1 {
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #fff;
}
nav .navigations {
  width: 33%;
}
nav .navigations ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1rem;
  color: #fff;
}
nav .navigations ul li {
  width: 104px;
  text-align: center;
}
nav .navigations ul li a {
  text-decoration: none;
  color: #e8e8e8;
  font-weight: 500;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
nav .navigations ul li a:hover {
  color: #fff;
  font-weight: 700;
}
nav .search {
  width: 40%;
}
nav .search form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
}
nav .search form input {
  outline: none;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 50px;
  color: rgb(20, 122, 153);
  font-size: 0.8rem;
}
nav .search form input::placeholder {
  color: rgb(20, 122, 153);
}
nav .search form svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 11.5rem;
}
nav .search form button {
  font-size: 0.8rem;
  border: none;
  outline: none;
  padding: 0.5rem 0.8rem;
  position: relative;
  right: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  color: #fff;
  background: #25b1db;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
nav .search form button:hover {
  background: #147a99;
}

.homepage-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem;
}

aside .hr-line {
  width: 2px;
  height: 10rem;
  background: #fff;
  margin-bottom: 3rem;
}
aside .social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
aside .social-icons i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

aside .social-icons i:hover {
  color: #25b1db;
}
.details h1 {
  font-size: 4rem;
  width: 30rem;
  color: #fff;
}
.details p {
  font-size: 0.7rem;
  width: 15rem;
  color: #fff;
}
.details button {
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 0.7rem 1.1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #25b1db;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: 500;
}
.details button:hover {
  background-color: #147a99;
}
